### AzureFunctions ###
# Azure Functions localsettings file
local.settings.json

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

.env

.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,vue,azurefunctions